@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  width: 100%;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --surface: #ffffff;
}

:root.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --surface: #020617;
}
